@charset "UTF-8";
/******************************************点菜页面***********************************************************************/
.menumain{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	overflow:auto;
}
/*左侧列表*/
#menu-left{
	float:left;
	width:22%;
	height:100%;
	overflow:auto;
	/*border-right:2px dotted #DCD7D6;*/
	background-color:#434343;
}
/*搜索按钮*/
#gotoSearch{
	width:100%;height:auto;text-align:center;overflow:hidden;
}
/*左侧列表table*/
#list-table{
	width:100%;
	height:auto;
	text-align:left;
}
#list-table tr{
	widht:100%;
	height:8%;
}
#list-table tr td{
	width:100%;
	padding:5px;
	color:#117ad6;
	background-color:#1B1B1B;
}
/*页面右侧*/
#menu-right{
	float:left;
	width:78%;
	height:100%;
	display:block;
	overflow-x:hidden;
	overflow-y:auto;
}
/*右侧列表table*/
#menu-table{
	width:100%;
	height:auto;
	padding:0px 0px 0px 0px;
	border-spacing: 0px;
}
#menu-table tr{
	width:100%;
	height:14%;
} 
#menu-table tr td{
	padding:0px 0px 0px 0px;
	text-align:center;
	width:30%;
	border-bottom:1px solid #DCD7D6;
}
#menu-table tr td.texttd{
	border:0px;
}
/*菜品名称，价格*/
.cai1{
	width:100%;
	height:auto;
	text-align:left;
	font-size:15px;
	font-weight:30%;
}
.cai2{
	
	width:100%;
	height:auto;
	text-align:left;
	color:#ff4747;
	font-size:10px;
}
.oldcai{
	margin-left:10px;
	width:100%;
	height:auto;
	text-align:left;
	color:#DCD7D6;
	font-size:10px;
}
/*加菜，减菜*/
.minus{
	float:right;
	width:45px;
	height:100%;
	text-align:center;
	padding:0px;
}
.number{
	float:right;
	width:20px;
	height:45px;
	text-align:center;
	font-size:12px;
	line-height:30px;
	color:#7a7a7a;
}
.plus{
	float:right;
	width:45px;
	height:100%;
	text-align:center;
	padding:0px;
}
/**我的菜单div**/
#mymenudiv{
	position:fixed;
	height:6%;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background:#272727;
	opacity: 0.9;
	z-index:1;
}
#mymenudiv-left{
	float:left;
	width:50%;
	height:100%;
	padding:0 0 0 2%;
	background:url(../../image/wechat/shoppingCart.png) no-repeat right; 
	background-size:40px 40px;
}
#mymenudiv-left span{
	display:inline-block; 
	background:url(../../image/wechat/dishNum.png) no-repeat right; 
	color:white; 
	width:10px; 
	clear:both; 
	float:right; 
	margin-right:5px
	/*background-color:#ffb400*/
}
#mymenudiv-middle{
	float:left;
	width:15%;
	height:100%;
	font-size:26px;
	padding:5px 0 0 2%;
}
#mymenudiv-middle span{
	color:#ffffff;
}
#mymenudiv-right{
	width:25%;
	height:100%;
	background:url(../../image/default/mymenu.png) no-repeat;
	opacity: 1;
	background-size:100% 100%;
	font-size:20px;
	color:#fff;
	text-align:center;
}
/**搜索菜品**/
#searchdiv{
	position:fixed;
	height:100%;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	padding:0px;
	display:block;
	filter:ALPHA(opacity=80);
	opacity: 0.8; 
	background-color:#000;
	z-index:99;
}
/*搜索菜品头部*/
#searchdivtop{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	width:100%;
	height:55px;
	display:block;
	background:#fff;
}
/*搜索菜品头部左侧*/
#search-left{
	float:left;
	width:78%;
	height:100%;
	text-align:center;
	padding:0px 2px;
}
/*搜索菜品头部右侧*/
#search-right{
	float:right;
	width:18%;
	height:100%;
	text-align:center;
	padding:0px 1%;
}

/**************************************************************************************我的菜单页面********************************************/
/*头部*/
#mymenutop{
	width:100%;
	height:40px;
	display:block;
	overflow:auto;
	background:#e4e5e5;
	font-size:16px;
}
/*已点菜品*/
#mymenutop-left{
	float:left;
	width:45%;
	height:100%;
	overflow:hidden;
	color:#117ad6;
	line-height:200%;
	font-size:20px;
	padding-left:5%;
}	
/*清空 加菜*/
#mymenutop-right{
	float:left;
	width:45%;
	height:100%;
	display:block;
	overflow:hidden;
	text-align:right;
}
/*展示菜单的table*/
#mymenu-table{
	width:100%;
	height:auto;
	border-spacing: 0px;
}
#mymenu-table tr{
	width:100%;
	height:14%;
} 
#mymenu-table tr td{
	text-align:center;
	padding:1% 5%;
	width:50%;
	border-bottom:1px dashed #EEEEEE;
}
/*菜品名称，价格*/
.cai11{
	width:100%;
	height:auto;
	text-align:left;
	font-size:15px;
}
.cai22{
	width:100%;
	height:auto;
	text-align:left;
	/* color:#ff4747; */
	font-size:10px;
}
/*加菜，减菜*/
.minus1{
	float:right;
	width:30%;
	height:100%;
	text-align:center;
	padding:0px;
}
.number1{
	float:right;
	width:34px;
	height:36px;
	text-align:center;
	color:#7a7a7a;
	line-height:45px;
}
.plus1{
	float:right;
	width:30%;
	height:100%;
	text-align:center;
	padding:0px;
}
/***确认提交****/
#commitdiv{
	position:fixed;
	height:35px;
	left:0px;
	right:0px;
	bottom:0px;
	background:#c9c9c9;
	opacity: 0.9;
	z-index:1;
}
#commit-left{
	float:left;
	width:58%;
	height:100%;
	font-size:12px;
	padding:3% 0 0 2%;
}
#commit-left span{
	color:#ff4747;
}
#commit-right{
	float:right;
	width:40%;
	height:100%;
	background:url(../../image/default/tjdd.png) no-repeat;
	opacity: 1;
	background-size:110% 100%;
	font-size:20px;
	color:#fff;
	text-align:center;
}
/***************************************************确认我的订单页面**********************************************************************/
/*确认订单菜品列表*/
#commit-table{
	width:100%;
	height:auto;
	border-spacing:0px;
	border:1px solid #c1c1c1;
}
#commit-table thead tr{
	width:30%;
	height:30px;
	background:#e7e7e7;
	color:#117bd3;
	text-align:center;
	font-size:20px;
}
#commit-table tbody tr td{
	width:30%;
	height:20px;
	padding:5px;
	text-align:center;
	color:#303030;
	border-bottom:1px dotted #d7d7d7;
}
#commit-table tbody tr td.redtd{
	color:red;
}
/**确认订单页面显示数量和金额的table*/
#commit-table2{
	width:100%;
	height:auto;
	border-spacing:0px;
	margin:5% auto 2%;
	border:1px solid #c1c1c1;
}
#commit-table2 tbody tr td{
	height:20px;
	padding:5px 0px;
	text-align:center;
	color:#117bd3;
}
/*********************************************单菜，套餐详情页面样式**************************************************************/
/**套餐大图*/
#taocan-img{
	width:100%;height:auto;padding:0%;margin:0 auto;
}
/**套餐菜品列表*/
#taocan-table{
	width:100%;
	height:auto;
	margin:0 auto;
	border-spacing:0px;
	border:1px solid #c1c1c1;
}
#taocan-table thead tr{
	height:30px;
	background:#e7e7e7;
	color:#117bd3;
	text-align:center;
	font-size:20px;
}
#taocan-table tbody tr td{
	height:20px;
	padding:5px;
	text-align:center;
	color:#303030;
	border-bottom:1px dotted #d7d7d7;
}
.bookBackSmall{
	height:45px; 
	width:100%; 
	position:absolute; 
	top:30%; 
	left:0;
	background:url('../../image/wechat/bookBackSmall.png') no-repeat;
	background-position:center right;
	background-size:110px 45px;
	z-index:9;
}
.bookBackLarge{
	height:45px; 
	width:100%; 
	position:absolute; 
	top:30%; 
	left:0;
	background:url(../../image/wechat/bookBackLarge.png) no-repeat; 
	background-position:center right;
	background-size:120px 45px;
	z-index:9;
}
.paySelect{
	background: url(../../image/wechat/arrow_right.png); 
	background-size:100% 100%;
}
.bottDiv{
	width:100%;
	border:0px;
	margin:0px;
	padding:0px;
	margin:0px;
	height:8%;
}
.bottDiv table tr{
	height:100%;
}
.ui-a{
	border: none;
	text-align: left;
	width:20%;
	padding-left:10px;
}
.ui-a img{
	border:0;
	padding:0;
	height:30px;
	width:30px;
	vertical-align:middle;
}
.ui-b{
	width:20%;
	padding-right:10px;
} 
.ui-c{
	border: none;
	font-weight: bold;
	width:35%;
	height:100%;
	text-align: center;
}
.ui-c span{
	font-size:26px; 
	color:#FFFFFF;
}
.ui-d{
	border: none;
	font-weight: bold;
	width:25%;
	height:100%;
	text-align: center;
	background-color:#ffb400;
}
.ui-d span{
	font-size:110%; 
	color:#FFFFFF;
}
.cartDiv{
	width:60px; 
	float:right; 
	height:100%; 
	padding:0 0 0 2%; 
	background:url(../../image/wechat/shoppingCart.png) no-repeat right; 
	background-size:38px 38px;
}
.cartNumDiv{
	text-align:center; 
	display:inline-block; 
	background:url(../../image/wechat/dishNum.png); 
	background-size:100% 100%; 
	color:white; 
	clear:both; 
	float:right;
	font-family:Arial;
}
.iphoneHeight{
	width:1.5em; 
	height:1em;
	padding-top:0.25em;
	padding-bottom:0.25em;
}
.androidHeight{
	width:1.5em; 
	height:1.5em;
	line-height:1.5em;
}
.leftItemType{
	background-color:#535353; 
	height:45px; 
	color:#5A5A5A;
	border:1px solid #434343;
}
.leftItemType span{
	font-size:16px; 
	line-height:45px; 
	float:right; 
	padding-right:5px;
}
.itemNumDiv{
	position:absolute;
	text-align:center; 
	display:inline-block; 
	background:url(../../image/wechat/dishNum.png); 
	background-size:100% 100%; 
	color:white; 
	clear:both; 
	float:left; 
	margin-left:2px;
	margin-top:2px;
	font-family:Arial;
}
.header{
	text-align: left;
	width:100%;
	height: 60px;
	border:0;
	margin:0;
}
.header img{
	width:34px;
	height:29px;
	vertical-align:text-bottom;
}
.orderBack{
	background-color: #eeeeee;
	font-weight: bold;
	text-align: left;
	width:100%;
	height: 40px;
	border:0;
	margin:0;
}
.orderContent{
	width:100%;
	border:0;
	margin:0;
	padding:0;
	overflow:hidden;
}

.father_div{
	overflow:hidden;
}
.space{
	width:100%;
	border:0;
	margin:0;
	height: 10px;
}

.space-left{
	float:left;
	width:5%;
}
.store_right{
	float:left;
	width:95%;
}
.home{
	font-size:120%;
}

.orderMoney{
	text-align: right;
	padding-right:20px;
	color:#FF0000;
	font-size:120%; 
}
.td_left{
	width:30%;
	text-align: left;
	padding-left:5%;
}
.pay-left{
	width:50%;
	text-align:left;
	padding-left:20px;
	vertical-align:middle;
}

.pay-right{
	width:40%;
	text-align:right;
	padding-right:5%;
	vertical-align:middle;
}
.pay-right img{
	width:50px;
	height:50px;
}
.nonsupport{
	font-size:110%;
}
.message{
	font-size:75%;
	color:#656565;
}

.detail2{
	text-align:center;
}
.detail2 input{
	padding:10px;
	width:45%;
	background-color:#F7F7F7;
	border:0;
	border-radius:5px;
	color:#356893;
	text-align:center;
}
.downArrow{
	height:10px; 
	border-bottom:1px solid #EEEEEE; 
	align:center; 
	background:url(../../image/wechat/down_arrow.png) no-repeat center; 
	background-size:12px 6px;
}
#fixedDiv{ 
	z-index:100; 
	height:100%;
	float:left;
	width:100%;
	min-height:300px;
}
.popBtnCol{
	text-align:center;
}
.popBtnCol input{
	padding:5px;
	width:45%;
	background-color:#FFB400;
	border:0;
	border-radius:5px;
	text-align:center;
	color:#FFFFFF;
	font-size:120%;
}