.topTable{
	width:100%; 
	height:100%;
}
.topTable tr{
	height:25%
}
.colImg{
	width:10%; 
	text-align:right;
}
.colWord{
	width:30%; 
	text-align:left;
	font-size:120%;
}
.dataTable{
	width:90%; 
	margin:auto;
}
.dataTable tr{
	height:50px;
}
.colLabel{
	width:50%;
	text-align:left;
}
.colData{
	width:50%;
	text-align:right;
}
.redWord{
	color:red;
}
.bottDiv{
	width:100%;
	border:0px;
	margin:0px;
	padding:0px;
	height:50px;
	position:fixed;
}
.bottDiv table tr{
	height:50px;
}
.ui-a{
	background-color: #000000;
	border: none;
	text-align: left;
	width:70%;
	padding-left:10px;
}
.ui-a img{
	border:0;
	padding:0;
	height:28px;
	width:26px;
}
.ui-b{
	background-color: #000000;
	border: none;
	text-align: right;
	width:30%;
	color:#ffffff;
	padding-right:10px;
} 
.ui-c{
	background-color: #f39801;
	border: none;
	width:30%;
	text-align: center;
	color:#ffffff;
}
.popBtnCol{
	text-align:center;
}
.popBtnCol input{
	padding:5px;
	width:45%;
	background-color:#FFB400;
	border:0;
	border-radius:5px;
	text-align:center;
	color:#FFFFFF;
	font-size:120%;
}
.sexSelected{
	width:40%; 
	height:25px;
	line-height:25px;
	background-color:#FFB400; 
	border:1px solid #FFB400;
	border-radius:5px;
	color:#FFFFFF;
	float:right;
	margin:5px;
}
.sexNotSelected{
	width:40%; 
	height:25px;
	line-height:25px;
	background-color:#FFFFFF; 
	border:1px solid #FFB400;
	border-radius:5px;
	color:#FFB400;
	float:right;
	margin:5px;
}
.inputContent{
	background-color: #FFFFFF;
	border:1px solid #EEEEEE;
	border-radius:4px;
	height:35px;
	width:95%;
}
.inputContentJiantou{
	background-color: #FFFFFF;
	border:1px solid #EEEEEE;
	border-radius:4px;
	height:35px;
	width:95%;
	background-image:url('../../image/wechat/jiantou.png');
	background-repeat:no-repeat;
	background-position:99%;
}
.inputContentShort{
	background-color: #FFFFFF;
	border:1px solid #EEEEEE;
	border-radius:4px;
	height:35px;
	width:50%;
}
.mypopup{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	height:45%;
	background-color: #ffffff;
	border:0;
}
.mypopupScroller { 
	position:relative; /* */
	z-index:100; 
	height:70%;        /* Desired element height */ 
	float:left;
	width:100%;
}
.popupTitle{
	border-bottom:1px solid #D5D5D5;
	text-align:center;
	height:9%;
	padding:5px;
}
.popupNoSelect{
	padding:5px;
	color:#D5D5D5;
	background-color:#FFFFFF;
}
.popupSelect{
	padding:5px;
	color:#FFB400;
	background-color:#EEEEEE;
}
.popupComplate{
	clear:both;
	background-color:#FFB400;
	text-align:center;
	padding:10px;
	color:#FFFFFF;
	font-size:120%;
}
.infoDiv{
	height:50px; 
	line-height:50px; 
	text-align:center; 
	color:red; 
	background-color:#FFFFFF; 
	margin-top:10px; 
}